* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background-color: #262525;
}

.headerSection {
  min-height: 5rem;
}

.headerSection .logoFc {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.headerSection .logoFc img {
  display: none;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.headerSection .logoFc img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media screen and (min-width: 768px) {
  .headerSection .logoFc img {
    display: block;
    width: 9rem;
  }
}

.headerSection .fox-title {
  padding: 1.5rem 0rem;
  text-align: center;
}

.headerSection .fox-title h1 {
  color: #E65D2C;
  font-family: "Carter One", cursive;
  font-size: 3em;
}

@media screen and (max-width: 384px) {
  .headerSection .fox-title h1 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 385px) and (max-width: 576px) {
  .headerSection .fox-title h1 {
    font-size: 200%;
  }
}

.headerSection .fox-title h1 .foxO {
  display: none;
}

@media screen and (min-width: 768px) {
  .headerSection .fox-title h1 .foxO {
    display: inline;
  }
}

.headerSection .fox-title h1 .foxOImg {
  width: 5rem;
}

@media screen and (min-width: 768px) {
  .headerSection .fox-title h1 .foxOImg {
    display: none;
  }
}

.headerSection .right-side-header {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 2rem 0 0;
}

.headerSection .right-side-header .bi-facebook {
  color: #f5f5f5 !important;
}

.headerSection .right-side-header .bi-facebook:hover {
  color: #4267b2 !important;
}

.headerSection .right-side-header .bi-instagram {
  color: #f5f5f5 !important;
}

.headerSection .right-side-header .bi-instagram:hover {
  color: #c13584 !important;
}

.headerSection .right-side-header .bi-whatsapp {
  color: #f5f5f5 !important;
}

.headerSection .right-side-header .bi-whatsapp:hover {
  color: #25d366 !important;
}

@media screen and (min-width: 768px) {
  .headerSection .right-side-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
    text-align: center;
  }
}

.navbar {
  background-color: #E65D2C;
}

.navbar .navbar-collapse a {
  font-family: "Source Code Pro", monospace;
  font-weight: bolder;
}

.navbar .navbar-collapse a:hover {
  color: #2CE6C0 !important;
}

.navbar .navbarDiv #fcNavbar:hover {
  color: #2CE6C0 !important;
}

.navbar .navbarDiv .navbarRrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  text-align: center;
}

.navbar .navbarDiv .navbarRrss .faceNav {
  color: #f5f5f5 !important;
}

.navbar .navbarDiv .navbarRrss .faceNav:hover {
  color: #4267b2 !important;
}

.navbar .navbarDiv .navbarRrss .instaNav {
  color: #f5f5f5 !important;
}

.navbar .navbarDiv .navbarRrss .instaNav:hover {
  color: #c13584 !important;
}

.navbar .navbarDiv .navbarRrss .wspNav {
  color: #f5f5f5 !important;
}

.navbar .navbarDiv .navbarRrss .wspNav:hover {
  color: #25d366 !important;
}

@media screen and (min-width: 768px) {
  .navbar .navbarDiv .navbarRrss {
    display: none;
  }
}

main {
  min-height: 65vh;
}

@media screen and (max-width: 767px) {
  main .order .order1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main .order .order1 h2 {
    text-align: center;
  }
  main .order .order1 p {
    font-size: 1.1em;
  }
  main .order .order2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

main h2 {
  font-family: "Source Code Pro", monospace;
  color: #2CE6C0;
}

main p {
  letter-spacing: 0.1rem;
}

main .waveBg {
  background-color: #65C5B2;
}

main .waveBg .waves {
  margin: 0;
}

main .waveBg .waves article h2 {
  color: #992900;
}

main .waveBg .waves article p {
  color: #262525;
}

main .waveBg h3 {
  color: #992900;
}

main .waveBg p {
  color: #262525;
}

main .waveBg iframe {
  width: 35rem;
  height: 20rem;
  margin-bottom: 1rem;
}

main .waveBg iframe:hover {
  box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75);
  -webkit-box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75);
  -moz-box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75);
}

@media screen and (max-width: 768px) {
  main .waveBg iframe {
    width: 25rem;
    height: 10rem;
  }
}

main article p {
  color: #f5f5f5;
}

main .card {
  font-family: "Source Code Pro", monospace;
}

main .subtitle {
  margin: 1.5rem 0rem;
}

main .formulario {
  margin: 0 20%;
}

.carousel-index {
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .carousel-index {
    width: 90%;
  }
}

.carousel-index .carousel .carousel-inner {
  border-radius: 0.8rem;
}

.carousel-index .carousel .carousel-inner:hover {
  box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75) !important;
  -webkit-box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75);
  -moz-box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75);
}

.carousel-index .carousel .carousel-inner .carousel-caption a {
  text-decoration: none;
}

.carousel-index .carousel .carousel-inner .carousel-caption h5 {
  background-color: black;
  color: #E65D2C;
  text-align: center;
  font-size: 1.4em;
  font-family: "Source Code Pro", monospace;
  padding: 0.5rem 0rem;
}

.btn-orange {
  color: #f5f5f5;
  background-color: #E65D2C;
  border-color: #992900;
  font-family: "Source Code Pro", monospace;
}

.btn-orange:hover {
  color: #2CE6C0;
}

.bgcarro, .bgform {
  background-image: url(../media/img/bg_carro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Source Code Pro", monospace;
}

.bgcarro .mainCarro, .bgform .mainCarro {
  background-color: #26252588;
}

.bgcarro .mainCarro .carro h2, .bgform .mainCarro .carro h2 {
  color: #f5f5f5;
  text-align: center;
  position: relative;
  top: 50%;
  font-size: 30px;
}

.bgcarro .mainCarro .carroVacio, .bgform .mainCarro .carroVacio {
  height: 100px;
  margin-top: 10px;
  color: #f5f5f5;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.bgcarro .mainCarro .carroVacio a, .bgform .mainCarro .carroVacio a {
  color: #f5f5f5;
  font-weight: lighter;
  text-decoration: underline;
  padding-top: 1rem;
}

.bgform {
  background-image: url(../media/img/bg_contacto2.jpeg);
}

.bgform .form {
  background-color: #26252576;
  padding-bottom: 3rem;
}

.bgform .form h2 {
  color: #f5f5f5;
  text-align: center;
  font-size: 2em;
  padding-top: 1.5rem;
}

@media screen and (max-width: 576px) {
  .bgform .form {
    padding-bottom: 1.5rem;
  }
}

.bgform .form fieldset {
  border: none;
}

.bgform .form fieldset label, .bgform .form fieldset div {
  color: #f5f5f5;
  text-align: center;
}

.bgform .pregunta {
  color: #f5f5f5;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .bgform .pregunta {
    padding: 1.2rem 1rem 0rem;
  }
  .bgform fieldset {
    margin: 2rem;
  }
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem 10rem;
  border-radius: 2px;
  border-top: solid #878686 1.5px;
  height: 5vh;
  background: #262525;
  background: -webkit-gradient(linear, left top, right top, color-stop(3%, rgba(38, 37, 37, 0.892616)), color-stop(43%, #992900), to(#65c5b2));
  background: linear-gradient(90deg, rgba(38, 37, 37, 0.892616) 3%, #992900 43%, #65c5b2 100%);
}

footer a {
  text-decoration: none;
  color: #f5f5f5;
}

footer a:hover {
  color: #2CE6C0;
}

footer p {
  text-decoration: none;
  color: #f5f5f5;
}
/*# sourceMappingURL=style.css.map */