* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, .headerSection, .bgcarro, .bgcarro .mainCarro .carroVacio, .bgform {
  width: 100vw;
}

body {
  min-height: 100vh;
  background-color: #262525;
}

.headerSection {
  height: 6rem;
}

.headerSection .logoFc {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.headerSection .logoFc img {
  display: none;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.headerSection .logoFc img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media screen and (min-width: 768px) {
  .headerSection .logoFc img {
    display: block;
    width: 9rem;
  }
}

.headerSection .fox-title {
  padding: 1.5rem 0rem;
  text-align: center;
}

.headerSection .fox-title h1 {
  color: #db5829;
  font-family: "Carter One", cursive;
  font-size: 180%;
}

@media screen and (min-width: 576px) {
  .headerSection .fox-title h1 {
    font-size: 45px;
  }
}

@media screen and (min-width: 768px) {
  .headerSection .fox-title h1 {
    font-size: 45px;
  }
}

.headerSection .right-side-header {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}

.headerSection .right-side-header .bi-facebook {
  color: whitesmoke !important;
}

.headerSection .right-side-header .bi-facebook:hover {
  color: #4267b2 !important;
}

.headerSection .right-side-header .bi-instagram {
  color: whitesmoke !important;
}

.headerSection .right-side-header .bi-instagram:hover {
  color: #c13584 !important;
}

.headerSection .right-side-header .bi-whatsapp {
  color: whitesmoke !important;
}

.headerSection .right-side-header .bi-whatsapp:hover {
  color: #25d366 !important;
}

@media screen and (min-width: 768px) {
  .headerSection .right-side-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .headerSection {
    margin: 2rem;
    height: 8rem;
  }
}

@media screen and (min-width: 901px) {
  .headerSection {
    margin-bottom: 2rem;
    height: 6rem;
  }
}

.navbar {
  background-color: #db5829;
}

.navbar .navbar-collapse a {
  font-family: "Source Code Pro", monospace;
  font-weight: bolder;
}

.navbar .navbar-collapse a:hover {
  color: whitesmoke !important;
}

.navbar .navbarDiv #fcNavbar:hover {
  color: whitesmoke !important;
}

.navbar .navbarDiv .navbarRrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  text-align: center;
}

.navbar .navbarDiv .navbarRrss .faceNav {
  color: whitesmoke !important;
}

.navbar .navbarDiv .navbarRrss .faceNav:hover {
  color: #4267b2 !important;
}

.navbar .navbarDiv .navbarRrss .instaNav {
  color: whitesmoke !important;
}

.navbar .navbarDiv .navbarRrss .instaNav:hover {
  color: #c13584 !important;
}

.navbar .navbarDiv .navbarRrss .wspNav {
  color: whitesmoke !important;
}

.navbar .navbarDiv .navbarRrss .wspNav:hover {
  color: #25d366 !important;
}

@media screen and (min-width: 768px) {
  .navbar .navbarDiv .navbarRrss {
    display: none;
  }
}

.carousel-index {
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .carousel-index {
    width: 90%;
  }
}

.carousel-index .carousel .carousel-inner:hover {
  box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75) !important;
  -webkit-box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75);
  -moz-box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75);
}

.carousel-index .carousel .carousel-inner .carousel-caption a {
  text-decoration: none;
}

.carousel-index .carousel .carousel-inner .carousel-caption h5 {
  background-color: black;
  color: #db5829;
  text-align: center;
  font-size: 1.4em;
  font-family: "Source Code Pro", monospace;
  padding: 0.5rem 0rem;
}

main {
  min-height: 65vh;
}

main h2 {
  font-family: "Source Code Pro", monospace;
}

main .card {
  font-family: "Source Code Pro", monospace;
}

main .subtitle {
  color: whitesmoke;
  font-family: "Source Code Pro", monospace;
  margin: 1.5rem 0rem;
}

main .d-flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0rem;
}

main .d-flex iframe {
  margin-bottom: 1rem;
}

main .d-flex iframe:hover {
  box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75) !important;
  -webkit-box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75);
  -moz-box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75);
}

.btn-orange {
  color: #fff;
  background-color: #db5829;
  border-color: #db5829;
  font-family: "Source Code Pro", monospace;
}

.bgcarro {
  background-image: url(../media/img/bg_carro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Source Code Pro", monospace;
}

.bgcarro .mainCarro {
  padding-top: 12rem;
}

.bgcarro .mainCarro .carro h2 {
  color: whitesmoke;
  text-align: center;
  position: relative;
  top: 50%;
  font-size: 30px;
}

.bgcarro .mainCarro .carroVacio {
  height: 100px;
  margin-top: 10px;
  color: whitesmoke;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.bgcarro .mainCarro .carroVacio a {
  color: whitesmoke;
  font-weight: lighter;
  text-decoration: underline;
  padding-top: 1rem;
}

.bgform {
  background-image: url(../media/img/bg_contacto.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bgform .form h2 {
  color: whitesmoke;
  text-align: center;
  font-size: 2em;
  padding-top: 3rem;
}

.bgform .pregunta {
  color: whitesmoke;
  text-align: center;
}

.bgform fieldset {
  border: none;
  color: whitesmoke;
  padding-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .bgform .pregunta {
    padding: 1.2rem 1rem 0rem;
  }
  .bgform fieldset {
    margin: 2rem;
    border: none;
    color: whitesmoke;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem 10rem;
  border-radius: 2px;
  border-top: solid #878686 1.5px;
  height: 5vh;
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(grey));
  background-image: linear-gradient(to right, black, grey);
}

footer div {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.4rem;
}

footer a {
  text-decoration: none;
  color: whitesmoke;
}

footer a:hover {
  color: #db5829;
}

footer p {
  text-decoration: none;
  color: whitesmoke;
}
/*# sourceMappingURL=style.css.map */