@import "reset";
@import "colores";
@import "tipografia";
@import "mixin";
@import "map";

// --------------------------------------------------------------

// -- Dimensiones generales en HTML y BODY
html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
    @extend html;
    min-height: 100vh;
    background-color: $color-background;
};


// -- Header, logo, titulo fc, redes sociales
.headerSection{
    min-height: map-get($heights, header);
    .logoFc{
        justify-self: start;
        align-self: center;
        img{
            display: none;
            transition: transform 1s ease-in-out;
            &:hover{
                transform: rotate(360deg);
            }
            @media screen and (min-width: map-get($breakpoints, md)) {
                display: block;
                width: 9rem;
            }
        }
    };

    .fox-title{
        padding: 1.5rem 0rem;
        text-align: center;

        h1{
            color: $color-orange;
            font-family: $title-font;
            font-size: 3em;

            @media screen and (max-width: 384px){
                font-size: 1.5em;
            }
            @media screen and (min-width: 385px) and (max-width: map-get($breakpoints, sm)){
                font-size: 200%;
            }
            
            .foxO{
                display: none;
                @media screen and (min-width: map-get($breakpoints, md)) {
                    display: inline;
                }
    
            }
            .foxOImg{
                width: 5rem;
                @media screen and (min-width: map-get($breakpoints, md)) {
                    display: none;
                }
            }  
        }
    }

    .right-side-header{
        display: none;
        justify-content: center;
        padding: 2rem 2rem 0 0;
        
        .bi-facebook{
            color: $text-white !important;
            &:hover{
                color: $color-fc !important;
            }
        };
        .bi-instagram{
            color: $text-white !important;
            &:hover{
                color: $color-ig !important;
            }
        };
        .bi-whatsapp{
            color: $text-white !important;
            &:hover{
                color: $color-ws !important;
            }
        }
        @media screen and (min-width: map-get($breakpoints, md)) {
            display: flex;
            flex-direction: row;
            gap:1rem;
            text-align: center;
        }
    };
};

// Diseño Navbar
.navbar{    
    background-color: $color-orange;
    .navbar-collapse{
        a{
            font-family: $content-font;
            font-weight: bolder;
        &:hover{
            color: $color-greenSec !important; 
        }
        }
    }
    .navbarDiv{
        #fcNavbar{
            &:hover{
                color: $color-greenSec !important; 
            }
        }
        .navbarRrss{
            display: flex;
            flex-direction: row;
            gap:1rem;
            text-align: center;
            .faceNav{
                color: $text-white !important;
                &:hover{
                    color: $color-fc !important;
                }
            };
            .instaNav{
                color: $text-white !important;
                &:hover{
                    color: $color-ig !important;
                }
            };
            .wspNav{
                color: $text-white !important;
                &:hover{
                    color: $color-ws !important;
                }
            }
            @media screen and (min-width: map-get($breakpoints, md)) {
                display: none;
            }
        }
    }
};

// -- Diseño Main Carusel e Iframe
main{
    min-height: map-get($heights,  main);
    .order{
        margin: 0;
        @media screen and (max-width: 767px) {
            .order1{
                order: 1;
                h2{
                    text-align: center;
                }
                p{
                    font-size: 1.1em;
                }
            }
            .order2{
                order: 2;
            }
        }
    }
    h2{
        font-family: $content-font;
        color: $color-greenSec;
    }
    p{
        letter-spacing: 0.1rem;
    }
    .waveBg{
        background-color: $color-greenPrim;
        .waves{
            margin: 0;
            article{
                h2{
                    color: $text-darkOrange;
                }
                p{
                    color: $color-background;
                }
            }
        }
        h3{
            color: $text-darkOrange;
        }
        p{
            color: $color-background;
        }
        iframe{
            width: 35rem;
            height: 20rem;
            margin-bottom: 1rem;
            &:hover{
                box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75);
                -webkit-box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75);
                -moz-box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75);
            }
            @media screen and (max-width: map-get($breakpoints, md)){
                width: 25rem;
                height: 10rem;
            }    
        }
    }
    article{
        p{
            color: $text-white;
        }
    }
    .card{
        font-family: $content-font;  
    }
    .subtitle{
        margin: 1.5rem 0rem;
    }
    .formulario{
        margin: 0 20%;
    }
}

.carousel-index{
    margin: auto;
    width: 100%;

    @media screen and (min-width: map-get($breakpoints, md)) {
        width: 90%;
    }
    .carousel{
        .carousel-inner{
            border-radius: 0.8rem;
            &:hover{
                box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75) !important;
                -webkit-box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75);
                -moz-box-shadow: 0px -2px 41px 7px rgba(230, 223, 223, 0.75);
            }    
            .carousel-caption{
                a{
                    text-decoration: none;
                }
                h5{
                    background-color: black;
                    color: $color-orange;
                    text-align: center;
                    font-size: 1.4em;
                    font-family: $content-font;
                    padding: 0.5rem 0rem;
                }
            }
            
        }
    }
}

.btn-orange{
    color: $text-white;
    background-color: $color-orange;
    border-color: $text-darkOrange;
    font-family: $content-font;
    &:hover{
        color: $color-greenSec;
    }
}

// -- Pagina Carro -- 
.bgcarro{
    background-image: url(../media/img/bg_carro.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    
    font-family: $content-font;
    #mainCarro{
        margin: 2rem;
        background-color: #26252588;
        .carro{
            h2{
                @include text-color-center();
                font-size: 30px;
                padding-top: 5rem;
            }
        }
        .carroVacio{
            height: 100px;
            margin-top: 10px;
            color: $text-white;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            a{
                color: $text-white;
                font-weight:lighter;
                text-decoration:underline;
                padding-top: 1rem;
            }
        }
    }
}    

// -- Pagina Contacto --
.bgform{
    background-image: url(../media/img/bg_contacto2.jpeg);
    @extend .bgcarro;
    .form {
        background-color: #26252576;
        padding-bottom: 1rem;
        h2{
            @include text-color-center();
            font-size: 2em;
            padding-top: 1.5rem;
        }
        @media screen and (max-width: map-get($breakpoints, sm)) {
            padding-bottom: 3.5rem;
        }
        fieldset{
            border: none;
            label, div{
                @include text-color-center();
            }
        }
    }

    .pregunta{
        @include text-color-center()
    }
    @media screen and (min-width: map-get($breakpoints, md)) {
        height: fit-content;
        .pregunta{
            padding: 1.2rem 1rem 0rem;
        }
        fieldset{
            margin: 3rem;;
        }    
    }
}

// -- Footer --
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 10rem;
    border-radius: 2px;
    border-top: solid rgb(135, 134, 134) 1.5px;
    height: map-get($heights, footer);
    background: rgb(38,37,37);
    background: linear-gradient(90deg, rgba(38,37,37,0.8926164215686274) 3%, rgba(153,41,0,1) 43%, rgba(101,197,178,1) 100%);;

    a{
        text-decoration: none;
        color: $text-white;
        &:hover{
            color:$color-greenSec
        }
    };
    p{
        text-decoration: none;
        color: $text-white;
    }
}

// Diseños en Página 404
#pagError{
    margin: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    h3, h4, p{
        color: $text-white;
    }
    a{
        text-decoration: none;
        color: $text-white;
        &:hover{
            color:$color-greenSec
        }
    };
    img{
        width: $widht-img-index;
    }
}